@import "../../scss/variables";

.footer {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;

    position: relative;
    z-index: 10;

    & .image {
        & * {
            transition: fill 0.2s ease;
        }

        &:hover * {
            fill: $soft-red;
        }
    }
}

@media screen and (min-width: 800px) {
    :root {
        font-size: 16px;
    }
}
