@import "./scss/variables";

.app {
    min-height: 100vh;

    background-color: $main-bg;
    background-image: url("../bg-stars.svg");
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 140px 22px 50px 22px;

    overflow: hidden;

    position: relative;

    &::after {
        content: "";

        width: 150%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-image: url("../pattern-hills.svg");
        background-position: 110% 100%;
        background-repeat: no-repeat;
        background-size: 200%;
    }

    & .top {
        width: 100%;
        max-width: 400px;
    }

    & .title {
        font-size: 1.3em;
        letter-spacing: 8px;
        text-align: center;
        text-transform: uppercase;
        color: $white;

        margin-bottom: 60px;
    }
}

@media screen and (min-width: $desktop-width) {
    .app {
        padding-bottom: 100px;

        &::after {
            background-position: 0 100%;
            background-size: 67%;
        }

        & .top {
            max-width: 650px;
        }
    }
}
